a:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

img:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)  
}

img {
    border-radius: 15px;
    height: 360px;
    width: 468px;
    margin: 0 10px;
}

button:hover {
    box-shadow: 5px 5px 10px rgba
    color(rgb(95, 89, 89)255)
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc ;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
}

.contenedor {
    display: flex;
    justify-content: center;

}

.contenedor img {
    height: 468px;
    width: 360px;
    margin: 0 10px;
    
}

section img {
    width: auto;
    margin: 0 10px;
}

.formulario form {
    
    direction: column;
    text-align: left;
    width: 400px;
    padding: 45px;
}

* {
    background-color: #e3fcff;
}

